.hero {
  padding: 115px 0;
  margin: 0 auto;

  text-align: center;

  background-color: $dark-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(to right, #9a847833, #1e130c66),
    url('..//../images/hero-background-480.jpg');

  @media screen and(min-device-pixel-ratio:2),
    screen and(min-resolution: 192dpi),
    screen and(min-resolution: 2dppx) {
    background-image: linear-gradient(to right, #9a847833, #1e130c66),
      url('..//../images/hero-background-960.jpg');
  }

  @media screen and(max-width:479px) {
    max-width: 479px;
    min-height: 400px;
  }

  @media screen and(min-width:480px) {
    max-width: 480px;
  }

  @media screen and(min-width:768px) {
    max-width: 768px;

    background-image: linear-gradient(to right, #9a847833, #1e130c66),
      url('..//../images/hero-background-768.jpg');

    @media screen and(min-device-pixel-ratio:2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #9a847833, #1e130c66),
        url('..//../images/hero-background-1536.jpg');
    }
  }

  @media screen and(min-width:1200px) {
    min-height: 600px;
    padding: 200px 0;

    max-width: 1600px;

    background-image: linear-gradient(to right, #9a847833, #1e130c66),
      url('..//../images/hero-background-1600.jpg');

    @media screen and(min-device-pixel-ratio:2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #9a847833, #1e130c66),
        url('..//../images/hero-background-3200.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;

  @media screen and(max-width:1199px) {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__btn {
  padding: 11px 32px;
  border-radius: 4px;
  border: 0;
  color: $white;
  background-color: $my-blue;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  &:active {
    background-color: $my-blue-dark;
  }
}

.hero__backdrop {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #aaab;

  transform: scale(1);
  opacity: 1;

  transition-property: transform opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 530px;
  min-height: 580px;
  padding: 40px;

  background-color: $white;
  border-radius: 4px;

  @media screen and(max-width:1199px) {
    width: 450px;
  }
}

.close-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $black-transparent;
  background-color: transparent;
  cursor: pointer;
}

.close-modal-btn__icon-close {
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// ховер по предку меняет стиль потомка
.close-modal-btn__icon-close {
  .close-modal-btn:hover & {
    fill: $my-blue;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.form__title {
  align-self: center;

  color: $graphite;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}

.form__field {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
}

.form__explain-text {
  position: absolute;
  top: -18px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $gray;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;

  border: 1px solid $gray-input-body;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon-user {
  @extend %form__icon;
  width: 13px;
  height: 13px;
}

.form__icon-tel {
  @extend %form__icon;
  width: 14px;
  height: 14px;
}

.form__icon-envelope {
  @extend %form__icon;
  width: 15px;
  height: 15px;
}
//

.form__comment-field {
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  color: $gray;
  border: 1px solid $gray-input-body;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: $gray-placeholder-text;
  }

  .form__field:focus-within & {
    border-color: $my-blue;
    outline: none;
  }
}

.form__input {
  .form__field:focus-within & {
    border-color: $my-blue;
    outline: none;
  }
}

.form__agreement-field {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.form__checkbox-label {
  display: flex;
  cursor: pointer;
}

.form__checkbox-input {
  display: inline-block;
  align-self: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__icon-check {
  align-self: center;
  width: 17px;
  height: 16px;
  margin-right: 8px;

  fill: transparent;
  background-color: transparent;
  border: 2px solid $graphite;
  border-radius: 2px;

  transition-property: background-color, fill, border-width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox-input:checked + .form__icon-check {
  fill: $white;
  background-color: $my-blue;
  border-width: 0;
}

.form__agreement-text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $gray;

  @media screen and(max-width:1199px) {
    font-size: 12px;
  }
}

.form__agreement-attention-text {
  text-decoration: underline;
  color: $my-blue;
}

.form__submit-btn {
  align-self: center;
  width: 200px;
  height: 50px;

  padding: 0;
  background-color: $my-blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white;
  cursor: pointer;

  &:active {
    background-color: $my-blue-dark;
  }
}
