.features__list {
  // display: flex;
  // justify-content: space-between;
}

.features__item {
  // display: block;
  // flex-basis: 270px;
}

.features__icon-holder {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $white-slave;
  border-radius: 4px;
}

.features__title {
  // margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $graphite;
}

.features__text {
  font-weight: 400;
  line-height: 1.71;
}
