.specialization {
  // padding-bottom: 94px;
}

.specialization__title {
  // margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $graphite;
}

.specialization__list {
  // display: flex;
  // justify-content: space-between;
}

.specialization__item {
  // display: inline-block;
}

.specialization__thumb {
  position: relative;
  z-index: 0;
}

.specialization__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 1;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  color: $white;
  background-color: $gray-transparent;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
