// переменные

$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.1);
$white-transparent-1: rgba(255, 255, 255, 0.1);
$white-transparent-2: rgba(255, 255, 255, 0.3);
$gray-transparent: rgba(47, 48, 58, 0.8);
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, 0.6);
$white-slave: #f5f4fa;
$graphite: #212121;
$dark-gray: #2f303a;
$gray: #757575;
$gray-input-body: rgba(33, 33, 33, 0.2);
$gray-placeholder-text: rgba(117, 117, 117, 0.5);
$gray-icon: #afb1b8;
$lighter-gray: #eeeeee;
$light-gray: #ececec;
$my-blue: #2196f3;
$my-blue-dark: #188ce8;
$my-blue-transparent: rgba(33, 150, 243, 0.9);

$card-set-gap: 30px;

$mobile-width: 480px;
$tablet-width:768px;
$desktop-width:1200px;
